#dl {
   position: relative;
}
#dt {
   height: 30px;
   float: left;
   width: 50px;
   z-index: 9;
   position: relative;
}
#dd {
   position: absolute;
   padding-top: 30px;
   background-color: #f3f3f3;
   width: 150px;
   height: 200px;
}
#dd.hidden {
   display: none;
}
