
/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    border: 0px #ccc;

    /*00 Margin-Top은 Tab의 box-shadow 아래 그림자 픽셀값과 같아야 서로 겹치지 않는다*/
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);

    /* 탭 영역 구분을 위한 임시 커서모양*/
    cursor: cell;

    /*하단 TAB 형성하기 위한 위치 고정 및 지정*/
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.tab :hover {
    /*tab buttom 사이에 있는 tab을 지나더라도 tab button의 hover가 유지되게끔 하는 장치*/
}


/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 0px;

    font-size: 17px;

    width: 30%;

    border-radius: 0.6em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    padding: 16px 0px;
    background-color: Orange;

    transition: all 0.63s ease-out;
}

.tab button:not(hover) {
    transition-property: padding;
    transition-duration: 1.63s;
    transition-delay: 1s;
    padding: 3px 0px;

    transition-property: background-color;
    transition: 1.63s;
    background-color: ##f1f1f1;
}


/* Create an active/current tablink class */
.tab button.active {
  /* 탭 설정 후 다른 탭 마우스 댈시 좁혀진 채로 있는 문제의 임시방편*/
    background-color: red;
    color: white;
}


/* Style the tab content */
.tabcontent {
    display: none;
    /*하단 TAB과의 위치를 맞추기 위해서 조절하는 값*/
    height: auto;

    /*00 Margin-Top은 Tab의 box-shadow 아래 그림자 픽셀값과 같아야 서로 겹치지 않는다*/
    margin-bottom: 1px;

    border: 0px solid #ccc;
    border-top: none;
    padding: 0px 0px;

    overflow: hidden;
    height: 100%;
    width: 100%;
}
