
body {font-family: Arial;}



/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: none;

    border: 0px #ccc
}

.tablinks {
    box-shadow: 0px 3px 0px 0px rgb(0, 0, 0, 0.2);

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 10px;

    transition: padding 1.63s,
                color 1.63s;

    font-size: 17px;

    width: 30%;

    border-radius: 0.6em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    padding: 16px 10px;
    background-color: Orange;

    transition: all 0.63s ease-out;
}

/* Create an active/current tablink class */
.tab button.active {
  /* 탭 설정 후 다른 탭 마우스 댈시 좁혀진 채로 있는 문제의 임시방편*/
    background-color: red;
    color: white;
}



/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px 0px;
    border: 0px solid #ccc;
    border-top: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
